## .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings.user

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

## Azure Functions
local.settings.json
appsettings.Development.json

## IDE
.idea/
*.swp
*~
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
